@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.app-container {
  width: 100%;
  min-width: 1024px;
  header {
    z-index: 10;
    position: relative;
    height: 50px;
    width: calc(100vw - 250px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}
