.bg-container {
  //   background-color: chocolate;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;

  .bg-image {
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(65%);
  }
}
