.bg-container {
  //   background-color: chocolate;
  width: 100vw;
  height: 100vh;
  position: fixed;

  .bg-image {
    min-width: 100%;
    min-height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(65%);
    position: relative;
    z-index: 0;
  }

  .bg-options {
    background-color: white;
    position: absolute;
    top: 550px;
    left: 0;
    // z-index: 5;
  }
}
