.favorite-links {
  display: flex;
  flex-flow: flex-start wrap;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 5;
  height: 40vh;
}

.link-item {
  width: 100px;
  height: 100px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    border-radius: 500px;
    background-color: white;
  }
  img {
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
  }
}

.add-item {
  all: unset;
  cursor: pointer;
  width: 100px;
  height: 100px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  p {
    min-width: 100px;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    border-radius: 500px;
    background-color: white;
  }
  img {
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
  }
}
