.memes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
  background-color: #f7f7f7;
  img {
    padding: 1rem;
    max-height: 350px;
  }
}
