.news {
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  .news-article {
    padding: 2rem;

    button {
      all: unset;
      color: #49aaee;
      &:hover {
        cursor: pointer;
        color: #3398d6;
      }
    }
    .article-content {
    }
    p {
      padding: 10px 0;
    }
    img {
      width: 100%;
    }
  }
}
