.top-movies {
  padding: 2rem;
}

.movies-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #f7f7f7;

  .movies-article {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    background-color: white;
    outline: 1px solid rgba(0, 0, 0, 0.0578);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px;
    h3 {
      height: 50px;
    }
    .poster {
      align-self: center;
      height: 420px;
      width: 100%;
      object-fit: cover;
    }
  }
  .movies-header {
    display: flex;
    justify-content: flex-start;
    gap: 0.6rem;
  }
  .rank {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    svg {
      width: 15px;
    }
  }
}

#up {
  fill: green;
}

#down {
  fill: red;
}

#equal {
  fill: yellow;
}
