.weather-container {
  all: unset;
  background-color: #3398d6;
  color: white;
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.weather-dropdown {
  position: absolute;
  top: 100px;
  width: 250px;
  height: 200px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #3398d6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  div {
    width: 40%;
  }
}
